# Ignore everything
*
*/**
# Include the two esbuild output files
# Ignore everything
/*

# Whitelist needed files
!client/out/extension.js
!client/out/extension.js.map
!server/out/server.js
!server/out/server.js.map
!es-lsp.js
!es-lsp.wasm
!es-lsp.wasm.map
!syntaxes/endlesssky.tmLanguage.json
!snippets.json
!language-configuration.json
!icon.png
!README.md
!package.json
